{% extends 'index.html' %}
{% block content %}
    <h1> INFORMACIÓ DE L'ALUMNE {{ student.nom }}</h1>

    <table>
        <tr>
            <td>NOM</td>
            <td>COGNOM1</td>
            <td>COGNOM2</td>
            <td>CORREU</td>
            <td>CURS</td>
            <td>MODUL</td>
        </tr>
        <tr>
            <td>{{ student.nom }}</td>
            <td>{{ student.cognom1 }}</td>
            <td>{{ student.cognom2 }}</td>
            <td>{{ student.correu }}</td>
            <td>{{ student.curs }}</td>
            <td>{{ student.moduls }}</td>
        </tr>
    </table>

{% endblock %}